:root{
  --paragraph-color:#757575;
  --contacts-color:#757575;
  --hover-hover-button-color:#fff;
  --hover-color:#2196f3;
  --titel-color:#212121;
}
/*for_all*/
body {
  font-family: 'Roboto', Raleway, sans-serif;
  background-color: #fff;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #212121;
}
/*delete_all_points*/
li {
  list-style-type: none;
}

/*logo*/
.logo {
  color: #2196f3;
}
.link-logo:active,
.link-logo:hover,
.link-logo {
  font-family: 'Raleway';
  font-size:26px;
  line-height:1.19;
  font-weight:700;
  color: black;
  text-decoration: none;
}
/*header*/
/*nav_links*/

.header-navigation-link:active,
.header-navigation-link:visited,
.header-navigation-link {
  color: #212121;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.header-navigation-link:focus,
.header-navigation-link:hover {
  color:var(--hover-color);
}
/*footer*/
.footer-link-logo:active,
.footer-link-logo:hover,
.footer-link-logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.footer{
  background-color: #2F303A;
}
/*contacts*/
.header-contscts:active,
.header-contscts:visited,
.header-contacts {
  line-height: 1.14;
  font-style: normal;
  color:var(--contacts-color);
  text-decoration: none;
  letter-spacing: 0.02em;
}

.header-contacts:hover {
  color:var(--hover-color);
}
.footer-contscts:active,
.footer-contscts:visited,
.footer-contacts {
  line-height: 1.14;
  font-weight: 500;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-contacts:hover {
  color:var(--hover-color);
}
.footer-city {
font-style: normal  ;
  color: #fff;
}

/*here_start_index*/
/*solution*/
.solution{
  background-color: #2F303A;
}
.solution-slogan {
  text-transform: uppercase;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.06em;
}
/*в кнопку вписан шрифт потому что он не переносится*/
.solution-button {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.06em;
}
/*information*/
.information-point {
  line-height: 1.14;
  font-weight: 700;
}
.information-point-description {
  line-height: 1.71;
  color: var(--paragraph-color);
}
/*job*/
.studio-title{
  font-size: 36px;
  line-height:1.16;
  font-weight: 700;
}
/*team*/
team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 500;
}
.team-position {
  font-size: 16px;
  line-height: 1.9;
  color: var(--paragraph-color);
}
/*portfolio*/

/*filter*/
.filter-button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
.filter-button:hover,
.filter-button:focus {
  background-color:var(--hover-color);
  color:var(--hover-hover-button-color);
  cursor: pointer;
}
/*projects*/
.projects-title{
font-size: 18px;
line-height: 2;
font-weight: 700;
letter-spacing: 0.06em;
}
.projects-description{
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.9;
}
.market:active,
.market:visited,
.market{
  color: #212121;
  text-decoration: none;
}
.market:hover{
  cursor: default;
}
/*HIDE_THIS*/
.hide {
  display: none;
}
