/*for_all*/
body{
  font-family: 'Roboto', Raleway, sans-serif;
}
/*delete_all_points_li*/
li {
  list-style-type: none;
}

/*logo*/
.logo {
  color: #2196f3;
}
.link-logo:active,
.link-logo:hover,
.link-logo {
  font-family: 'Raleway';
  font-size:26px;
  line-height:1.19;
  font-weight:700;
  color: black;
  text-decoration: none;
}
/*header*/
/*nav_links*/

.header-navigation-link:active,
.header-navigation-link:visited,
.header-navigation-link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.header-navigation-link:focus,
.header-navigation-link:hover {
  color: #2196f3;
}
/*footer*/
.footer-link-logo:active,
.footer-link-logo:hover,
.footer-link-logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
.footer{
  background-color: #2F303A;
}
/*contacts*/
.footer-contscts:active,
.header-contscts:visited,
.header-contacts {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  font-style: normal;
  color: #757575;
  text-decoration: none;
}

.header-contacts:hover {
  color: #2196f3;
}
.footer-contscts:active,
.footer-contscts:visited,
.footer-contacts {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-contacts:hover {
  color: #2196f3;
}
.footer-city {
font-size: 14px;
font-style: normal  ;
  color: #fff;
}

/*here_start_index*/
/*solution*/
.solution{
  background-color: #2F303A;
}
.solution-slogan {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  color: #fff;
}
/*в кнопку вписан шрифт потому что он не переносится*/
.solution-button {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.875;
  font-weight: 700;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}
/*information*/
.information-point {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  color: #212121;
}
.information-point-description {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
/*job*/
.studio-title{
  font-size: 36px;
  line-height:1.16;
  font-weight: 700;
  color: #212121;
}
/*team*/
team-name {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 500;
  color: #212121;
}
.team-position {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  color: #757575;
}
/*portfolio*/

/*filter*/
.filter-button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  font-weight: medium;
  line-height: 1.625;
  color: black;
}
.filter-button:hover,
.filter-button:focus {
  background-color: #2196f3;
  cursor: pointer;
}
/*projects*/
.projects-title{
font-size: 18px;
line-height: 2;
font-weight: 700;
font-weight: bold;
color: #212121;
}
.projects-description{
  color:#757575;
  font-size: 16px;
  line-height: 1.875;
}

/*HIDE_THIS*/
.hide {
  display: none;
}
